<p>
  {{ title }} user works all!
</p>

<div *ngIf="isAdmin; else userTemplate">
  <p>Is this admin user</p>
</div>

<ng-template #userTemplate>
  <div>
    <p>Is this a normal user</p>
  </div>
</ng-template>

<!-- hijo del componente 'userComponent' -->
<!-- Llamas al componente "calc" -->
<app-calc [title]="calcTitle" (dispatchEvent)="handleEvent($event)"></app-calc>

<ion-button (click)="toggleAdmin()">Toggle button</ion-button>

<!-- # Declara pay -->

<!-- # Interpolacion de unidad de pesos -->
<p>
  {{ amount | currency: 'USD' }}
</p>

<!-- # Interpolacion de unidad de fecha -->
<p appHighlight>
  {{ todayIs | date: 'short' }}
</p>

<!-- Interpolacion de calculo de iva asignado -->
<p>
  Amount with taxes: {{ amount | tax: 16 | currency: 'USD' }}
</p>

<p app:Highlight>This is invalid</p>
<h1>My First Attribute Directive</h1>
<h2>Pick a highlight color</h2>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appHighlight]="color">Highlight me!</p>

<ion-alert
  [isOpen]="isAlertOpen"
  header="A Short Title Is Best"
  subHeader="A Sub Header Is Optional"
  [message]="alertMessage"
  [buttons]="alertButtons"
  (didDimiss)="handleEvent('')"
></ion-alert>
<p [appHighlight]="color" defaultColor="violet">
  Highlight me too!
</p>

<h3>ngNonBindable with a directive</h3>
<div ngNonBindable [appHighlight]="'yellow'">This should not evaluate: {{ 1 +1 }}, but will highlight yellow.
</div>

<a [routerLink]="[' ']">Go back</a>

<ion-button (click)="logOut()">Log Out</ion-button>

